In [16]:
import pandas as pd
from math import sqrt
import matplotlib.pyplot as plt
import numpy as np
%matplotlib qt

In [17]:
TSP_data = pd.read_excel('15-Points.xlsx')

In [18]:
TSP_data

               x             y  City
0   5.500000e-08  9.860000e-09     1
1  -2.887330e+01 -7.980000e-08     2
2  -7.929160e+01 -2.140330e+01     3
3  -1.465770e+01 -4.338960e+01     4
4  -6.474730e+01  2.189820e+01     5
5  -2.905850e+01 -4.321670e+01     6
6  -7.207850e+01  1.815810e-01     7
7  -3.603660e+01 -2.161350e+01     8
8  -5.048080e+01  7.374470e+00     9
9  -5.058590e+01 -2.158820e+01    10
10 -1.358190e-01 -2.872930e+01    11
11 -6.508660e+01 -3.606250e+01    12
12 -2.149830e+01  7.319420e+00    13
13 -5.756870e+01 -4.325060e+01    14
14 -4.307000e+01  1.455480e+01    15

In [19]:
def initialztion_point(city_num):
    for i in range(len(data)):
        if data.loc[i, 'City'] == city_num:
            x = data.loc[i, 'x']
            y = data.loc[i, 'y']
            data.drop(index= i, inplace = True)
            data.reset_index(drop = True, inplace = True)
            return x, y

In [20]:
def calculate_distance(x1, y1):
    min_dist = np.inf
    for i in range(len(data)):
        x2 = data.loc[i, 'x']
        y2 = data.loc[i, 'y']
        distance = sqrt((x2 - x1)**2 + (y2 - y1)**2)
        if distance < min_dist:
            min_dist = distance
            min_index = i

    x = data.loc[min_index, 'x']
    y = data.loc[min_index, 'y']
    distance = sqrt((x - x1)**2 + (y - y1)**2)
    data.drop(index = min_index, inplace = True)
    data.reset_index(drop = True, inplace = True)
    return x, y, distance

In [21]:
def GreedyOptimization(data, init_city):
    x = []
    y = []
    plt.scatter(data.loc[:, 'x'], data.loc[:, 'y'], color = 'b')
    x_init, y_init = initialztion_point(init_city)
    plt.scatter(x_init, y_init, color = 'r')
    plt.text(x_init - 3, y_init - 4, "Start")
    
    x.append(x_init)
    y.append(y_init)
    
    TSP_plot = plt.plot(x, y, color = 'k')
    
    x1, y1 = x_init, y_init
    distance = []
    for i in range(len(data)):
        x2, y2, d = calculate_distance(x1, y1)
        distance.append(d)
        x.append(x2)
        y.append(y2)
        
        plt.setp(TSP_plot, xdata = x, ydata = y)
        plt.pause(0.3)
        x1, y1 = x2, y2
        
    distance.append(sqrt((x_init - x1)**2 + (y_init - y1)**2))
    x.append(x_init)
    y.append(y_init)
    
    plt.setp(TSP_plot, xdata = x, ydata = y)
    plt.pause(0.3)
    return x, y, distance

In [23]:
data = TSP_data.copy()
x, y, distance = GreedyOptimization(data, 1)